---
import Layout from "../layouts/Layout.astro";
const base = import.meta.env.BASE_URL;
---

<Layout title="Hotwire SPA">
  <div class="hero min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Hello!</h1>
        <div class="prose">
          <p class="py-6">
            This is a <a href="https://hotwired.dev/">Hotwire</a> SPA proof of concept
            using:
            <br />
            <a href="https://astro.build/">Astro</a> /
            <a href="https://turbo.hotwired.dev/">Hotwire Turbo</a> /
            <a href="https://alpinejs.dev/">Alpine.js</a> /
            <a href="https://tailwindcss.com/">Tailwind</a> /
            <a href="https://daisyui.com/">DaisyUI</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <turbo-frame id="content-frame-1" src={`${base}/partials/frameone/`}
  ></turbo-frame>
  <turbo-frame id="news-frame-1" src={`${base}/partials/news/`} loading="lazy"
  ></turbo-frame>
</Layout>
