---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Two">
  <div
    class="hero min-h-screen"
    style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);"
  >
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Page Two</h1>
        <p class="mb-5">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <div class="flex justify-center gap-x-4">
          <button class="btn glass">Shiny</button>
          <button class="btn glass">Glass</button>
          <button class="btn glass">Buttons</button>
        </div>
      </div>
    </div>
  </div>
</Layout>
