---
import Placeholder from "../../components/Placeholder.astro";

const base = import.meta.env.BASE_URL;
---

<turbo-frame id="content-frame-1">
  <div class="bg-base-100 py-10">
    <div class="container px-4 2xl:px-0 mx-auto">
      <div class="flex justify-center mb-10">
        <div class="prose text-center">
          <h1>Turbo Frame One</h1>
          <p>
            I'm a <code>&lt;turbo-frame&gt;</code>. Navigation to <a
              href={`${base}/partials/frametwo/`}>Frame Two</a
            > stays within the frame.
          </p>
        </div>
      </div>
      <div class="h-96 grid grid-cols-1 gap-4 sm:grid-cols-2">
        <Placeholder text="Frame" />
        <Placeholder text="One" />
      </div>
    </div>
  </div>
</turbo-frame>
