---
import Placeholder from "../../components/Placeholder.astro";

const base = import.meta.env.BASE_URL;
---

<turbo-frame id="content-frame-1">
  <div class="bg-base-100 py-10">
    <div class="container px-4 2xl:px-0 mx-auto">
      <div class="flex justify-center mb-10">
        <div class="prose text-center">
          <h1>Turbo Frame Two</h1>
          <p>
            I'm a <code>&lt;turbo-frame&gt;</code>. Navigation to <a
              href={`${base}/partials/frameone/`}>Frame One</a
            > stays within the frame.
          </p>
        </div>
      </div>
      <div class="h-96 grid grid-rows-3 grid-flow-col gap-4">
        <div class="row-span-3"><Placeholder text="I'm" /></div>
        <div class="row-span-1 col-span-2">
          <Placeholder text="Frame" />
        </div>
        <div class="row-span-2 col-span-2"><Placeholder text="Two" /></div>
      </div>
    </div>
  </div>
</turbo-frame>
