---
import ArticleCard from "../../components/ArticleCard.astro";

const res = await fetch(
  "https://journalstar.com/search/?f=json&l=12&t=article&c=news/local"
);
const resJson = await res.json();
const articles = resJson.rows.map((article) => {
  const title = article.title;
  const previewUrl = article.preview.url;
  const url = article.url;
  const prologue = article.prologue;
  const topFlag = article.flags[0]?.replace(/_/g, " ");
  const id = url.split("/")[url.split("/").length - 2];
  return {
    title,
    previewUrl,
    url,
    prologue,
    topFlag,
    id,
  };
});
---

<turbo-frame id="news-frame-1">
  <div class="py-10">
    <div class="container px-4 2xl:px-0 mx-auto">
      <div class="flex justify-center mb-10">
        <div class="prose text-center">
          <h1>Lazy Turbo Frame</h1>
          <p>
            I'm a <a
              href="https://turbo.hotwired.dev/handbook/frames#lazy-loading-frames"
              >lazy</a
            >
            <code>&lt;turbo-frame&gt;</code> with feed content. &#129393;
          </p>
        </div>
      </div>
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 mb-60"
      >
        {articles.map((article) => <ArticleCard article={article} />)}
      </div>
    </div>
  </div>
</turbo-frame>
