---
// Usage: <ArticleCard article={article} />
const { article } = Astro.props;
---

<a href={article.url}>
  <div class="bg-base-100 h-full rounded overflow-hidden shadow-lg">
    <img
      class="object-cover h-64 w-full"
      src={article.previewUrl}
      alt={article.title}
    />
    <div class="px-6 py-4">
      {article.topFlag && (
        <div class="text-sm uppercase font-semibold text-primary mb-2">
          {article.topFlag}
        </div>
      )}
      <div class="font-bold text-xl mb-2">{article.title}</div>
      <div class="text-sm" set:html={article.prologue} />
    </div>
  </div>
</a>
