---
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";
import Sidebar from "./Sidebar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<!doctype html>
<html
  lang="en"
  x-data="{ theme: 'light', setTheme(theme) { this.theme = theme } }"
  x-bind:data-theme="theme"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`${base}/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="../scripts/turbo-router.js"></script>
  </head>
  <body>
    <div class="drawer">
      <input
        id="main-nav-drawer"
        x-ref="toggleit"
        type="checkbox"
        class="drawer-toggle"
      />
      <div class="drawer-content flex flex-col">
        <Navbar />
        <div class="page bg-base-200">
          <main>
            <slot />
          </main>
          <Footer />
        </div>
      </div>
      <div class="drawer-side">
        <label
          for="main-nav-drawer"
          aria-label="close sidebar"
          class="drawer-overlay"></label>
        <Sidebar />
      </div>
    </div>
  </body>
</html>
