---
const base = import.meta.env.BASE_URL;
---

<div class="w-full navbar" hx-boost="true">
  <div class="flex-none lg:hidden">
    <label
      for="main-nav-drawer"
      aria-label="open sidebar"
      class="btn btn-square btn-ghost"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-6 h-6 stroke-current"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path></svg
      >
    </label>
  </div>
  <div class="flex-1 px-2 mx-2">
    <a href={`${base}/`}>Hotwire SPA</a>
  </div>
  <div class="flex-none hidden lg:block">
    <ul class="menu menu-horizontal">
      <!-- Navbar menu content here -->
      <li><a href={`${base}/pageone/`}>Page One</a></li>
      <li><a href={`${base}/pagetwo/`}>Page Two</a></li>
      <li>
        <details>
          <summary>Theme</summary>
          <ul
            class="p-2 bg-base-100 rounded-t-none"
            @click="$el.parentElement.removeAttribute('open')"
          >
            <li><a @click="setTheme('light')">Light</a></li>
            <li><a @click="setTheme('dark')">Dark</a></li>
            <li><a @click="setTheme('nord')">Nord</a></li>
            <li><a @click="setTheme('cupcake')">Cupcake</a></li>
            <li><a @click="setTheme('forest')">Forest</a></li>
            <li><a @click="setTheme('aqua')">Aqua</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
