---
const base = import.meta.env.BASE_URL;
---

<ul class="menu p-4 w-80 min-h-full bg-base-100" hx-boost="true">
  <!-- Sidebar content here -->
  <li><a href={`${base}/pageone/`}>Page One</a></li>
  <li><a href={`${base}/pagetwo/`}>Page Two</a></li>
  <li>
    <details>
      <summary>Theme</summary>
      <ul
        class="p-2 bg-base-100 rounded-t-none"
        @click="$refs.toggleit.checked = false"
      >
        <li><a @click="setTheme('light')">Light</a></li>
        <li><a @click="setTheme('dark')">Dark</a></li>
        <li><a @click="setTheme('nord')">Nord</a></li>
        <li><a @click="setTheme('cupcake')">Cupcake</a></li>
        <li><a @click="setTheme('forest')">Forest</a></li>
        <li><a @click="setTheme('aqua')">Aqua</a></li>
      </ul>
    </details>
  </li>
</ul>
